# Cleaner Exploration File
This is meant to help visualize and finalize the cleaning steps

In [1]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt

In [7]:
df = pd.read_csv("https://raw.githubusercontent.com/globaldothealth/monkeypox/main/latest.csv")
df.head()

,_id,Pathogen,ID,Case_status,Pathogen_status,Location_information,Age,Sex_at_birth,Sex_at_birth_other,Gender,...,Travel_history_start,Travel_history_location,Genomics_Metadata,Accession_Number,Source,Source_II,Source_III,Source_IV,Date_entry,Date_last_modified
0,63339f546231dbc49320096e,NaN,NaN,confirmed,NaN,"Non-US Resident, United States",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,63339f546231dbc49320096f,NaN,NaN,confirmed,NaN,"Non-US Resident, United States",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,63339f546231dbc493200970,NaN,NaN,confirmed,NaN,"Non-US Resident, United States",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,63339f546231dbc493200972,NaN,NaN,confirmed,NaN,"Alabama, United States",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,63339f546231dbc493200973,NaN,NaN,confirmed,NaN,"Alabama, United States",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.columns

Index(['_id', 'Pathogen', 'ID', 'Case_status', 'Pathogen_status',
       'Location_information', 'Age', 'Sex_at_birth', 'Sex_at_birth_other',
       'Gender', 'Gender_other', 'Race', 'Race_other', 'Ethnicity',
       'Ethnicity_other', 'Nationality', 'Nationality_other', 'Occupation',
       'Healthcare_worker', 'Previous_infection', 'Co_infection',
       'Pre_existing_condition', 'Pregnancy_Status', 'Vaccination',
       'Vaccine_name', 'Vaccination_date', 'Vaccine_side_effects', 'Symptoms',
       'Date_onset', 'Date_confirmation', 'Confirmation_method',
       'Date_of_first_consultation', 'Hospitalized',
       'Reason_for_hospitalization', 'Date_hospitalization',
       'Date_discharge_hospital', 'Intensive_care', 'Date_admission_ICU',
       'Date_discharge_ICU', 'Home_monitoring', 'Isolated', 'Date_isolation',
       'Outcome', 'Date_death', 'Date_recovered', 'Contact_with_case',
       'Contact_ID', 'Contact_setting', 'Contact_setting_other',
       'Contact_animal', 'Contact_comment', 'Transmission', 'Travel_history',
       'Travel_history_entry', 'Travel_history_start',
       'Travel_history_location', 'Genomics_Metadata', 'Accession_Number',
       'Source', 'Source_II', 'Source_III', 'Source_IV', 'Date_entry',
       'Date_last_modified'],
      dtype='object')

In [9]:
df

,_id,Pathogen,ID,Case_status,Pathogen_status,Location_information,Age,Sex_at_birth,Sex_at_birth_other,Gender,...,Travel_history_start,Travel_history_location,Genomics_Metadata,Accession_Number,Source,Source_II,Source_III,Source_IV,Date_entry,Date_last_modified
0,63339f546231dbc49320096e,NaN,NaN,confirmed,NaN,"Non-US Resident, United States",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,63339f546231dbc49320096f,NaN,NaN,confirmed,NaN,"Non-US Resident, United States",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,63339f546231dbc493200970,NaN,NaN,confirmed,NaN,"Non-US Resident, United States",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,63339f546231dbc493200972,NaN,NaN,confirmed,NaN,"Alabama, United States",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,63339f546231dbc493200973,NaN,NaN,confirmed,NaN,"Alabama, United States",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74780,635f12b35acfc8d19969cefc,NaN,NaN,confirmed,NaN,Nigeria,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74781,635f12b35acfc8d19969cefd,NaN,NaN,confirmed,NaN,Nigeria,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74782,635f12b35acfc8d19969cefe,NaN,NaN,confirmed,NaN,Nigeria,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74783,635f12b35acfc8d19969ceff,NaN,NaN,confirmed,NaN,Nigeria,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74784,635f12b35acfc8d19969cf01,NaN,NaN,confirmed,NaN,Puerto Rico,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# the only columns kept are ID, Location_information, Date_confirmed
df = df.drop(columns=["_id", "Pathogen", "Case_status", "Pathogen_status", "Age", "Sex_at_birth", "Sex_at_birth_other", "Gender", "Gender_other", "Race", "Race_other", "Ethnicity",
                "Ethnicity_other", "Nationality", "Nationality_other", "Occupation", "Healthcare_worker", "Previous_infection", "Co_infection", "Pre_existing_condition",
                "Pregnancy_Status", "Vaccination", "Vaccine_name", "Vaccination_date", "Vaccine_side_effects", "Symptoms", "Date_onset", "Confirmation_method",
                'Date_of_first_consultation', 'Hospitalized',
                'Reason_for_hospitalization', 'Date_hospitalization',
                'Date_discharge_hospital', 'Intensive_care', 'Date_admission_ICU',
                'Date_discharge_ICU', 'Home_monitoring', 'Isolated', 'Date_isolation',
                'Outcome', 'Date_death', 'Date_recovered', 'Contact_with_case',
                'Contact_ID', 'Contact_setting', 'Contact_setting_other',
                'Contact_animal', 'Contact_comment', 'Transmission', 'Travel_history',
                'Travel_history_entry', 'Travel_history_start',
                'Travel_history_location', 'Genomics_Metadata', 'Accession_Number',
                'Source', 'Source_II', 'Source_III', 'Source_IV', 'Date_entry',
                'Date_last_modified'])
df.head()

   ID            Location_information  Date_confirmation
0 NaN  Non-US Resident, United States                NaN
1 NaN  Non-US Resident, United States                NaN
2 NaN  Non-US Resident, United States                NaN
3 NaN          Alabama, United States                NaN
4 NaN          Alabama, United States                NaN